.custom-vertical-scrollBar {
  position: absolute;
  right: 0;
  width: 12px;
  background-color: rgba(100, 100, 100, 0.5);
  border-left: solid 1px gray;
  height: 100%;

  &.drag {
    background-color: rgba(165, 148, 49, 0.438);
    &:hover {
      background-color: rgba(165, 148, 49, 0.438);
   }
  }

  &:hover {
     background-color: rgba(100, 100, 100, 0.8);
  }

  .custom-vertical-scrollBar-track {
    width: calc(100% - 1px);
    position: absolute;
    background-color: lime;
    &:hover{
      cursor: pointer;
    }
  }
}
