.custom-vertical-scrollBar {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 12px;
  background-color: rgba(100, 100, 100, 0.5);
  border-left: solid 1px gray;
  height: 100%;

  &.drag {
    background-color: rgba(250, 232, 133, 0.438);
    &:hover {
      background-color: rgba(250, 232, 133, 0.438);
   }
  }

  &:hover {
     background-color: rgba(100, 100, 100, 0.8);
  }

  .custom-vertical-scrollBar-track {
    width: 100%;
    position: absolute;
    background-color: rgba(230, 230, 230, 0.9);
    &:hover{
      cursor: pointer;
    }
  }
}
