.react-large-list {
  position: relative;
  display: block;
  height:  100% ;
  
  
  &:focus {
   outline: none; 
  }

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  ul {
    padding: 0;
    margin: 0;
    display: block;
     
    overflow-y: hidden;
    overflow-x : auto;
    white-space: nowrap;
    
    li {
      width: max-content;
    }
  }
}
