.custom-list {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  resize: both;
  background-color: rgb(80, 60, 60);
  color: beige;
  height: 200px;
  width: 400px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 60px;

  .my-option {
    line-height: 20px;
    max-height: 20px;

    .id {
      background-color: darkblue;
      display: inline-block;
      height: 100%;
    }
  }
}

.custom-theme-winter {
  /* VS */
  .custom-vertical-scrollBar {
    width: 8px;
    border: solid 1px gray;
    border-radius: 4px;
    height: calc(100% - 2px);
    background-color: rgba(179, 179, 255, 0.7);

    &.hide {
    }

    &.drag {
      .custom-vertical-scrollBar-track {
        box-shadow: 0 0 6px cyan;
      }
    }

    &:hover {
      background-color: rgba(179, 179, 255, 0.7);
    }

    .custom-vertical-scrollBar-track {
      width: 100%;
      border-radius: 4px;
      background-color: snow;
      border: solid 0px gray;
      &:hover {
        box-shadow: 0 0 6px cyan;
      }
    }
  }

  /* HS */
  .custom-horizontal-scrollBar {
    &.hide {
    }

    &:hover,
    &.drag {
      height: 8px;
      border: solid 1px gray;
      border-radius: 4px;
      width: calc(100% - 12px);
      background-color: rgba(179, 179, 255, 0.7);
      .custom-horizontal-scrollBar-track {
        background-color: snow;
        border-radius: 4px;
      }

      &.hide {
        height: 0;
        border: none;
      }
    }
    &.drag {
      .custom-horizontal-scrollBar-track {
        box-shadow: 0 0 6px cyan;
      }
    }
    .custom-horizontal-scrollBar-track {
      &:hover {
        box-shadow: 0 0 6px cyan;
      }
    }
  }
}


.story-react-large-table{
  display: inline-block;
  background-color: green;
  width: 500px;
  height: 300px;
  resize: both;
  overflow: hidden;
}
